/* TABLE OF CONTENTS: 

1. General Setup
2. Navbar Settings
    2.1. Nav Avatar & Name
    2.2. Nav Text/
3. Footer
4.1 Main Page - index
4.2 Main Page - list boxes 

*/

/*  1. General Setup  */

:root {
  --main-color: #ff7a00;
}

body {
  font-family: "Heebo", sans-serif;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url("../images/bg-image.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 1.2rem;
}

h1,
h2,
h3,
h4,
.menu a {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: black;
}

.main-color-text {
  color: var(--main-color);
}

/* 2. Navbar Settings */

.navbar {
  /* background-color: rgba(255, 255, 255, 0.8); */
  background-color: rgb(250, 251, 251);
  vertical-align: middle;
  line-height: 0;
}
.navbar-bg-extension {
  background-color: rgb(250, 251, 251);
  position: sticky;
  top: 0;
}

.hidden {
  display: none;
}

/* 2.1. Nav Avatar & Name */

.left-nav {
  height: 80px;
  padding-top: 10px;
}

.nav-avatar {
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 50%;
  display: inline-block;
  border: 2px solid #eee6de;
}

.nav-name {
  display: inline-block;
  color: var(--main-color);
  font-size: 2.2rem;
  font-weight: 700;
}

.last-name {
  display: none;
}

.hamburger-menu,
.hamburger-x {
  margin-left: auto;
  padding-right: 20px;
}

.mobile-menu-hidden {
  display: none;
}

@media (min-width: 900px) {
  .last-name {
    display: inline-block;
  }
}

/* 2.2. Nav Text */

.menu {
  text-align: left;
  font-size: 1.8rem;
}

.menu a:hover {
  text-decoration: underline var(--main-color) 2.5px;
  text-underline-offset: 0.75rem;
}

.current-page {
  color: var(--main-color);
  text-decoration: underline var(--main-color) 2.5px;
  text-underline-offset: 0.75rem;
}

@media (min-width: 900px) {
  .menu a {
    font-size: 1.8rem;
  }

  .hamburger-menu {
    display: none;
  }

  .menu {
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: right;
  }

  .menu a:hover {
    text-decoration: underline var(--main-color) 2.5px;
    text-underline-offset: 0.75rem;
  }
}

/* 3. Footer */

.footer {
  background-color: rgb(250, 251, 251);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  text-align: center;
}

.footer-text {
  padding-top: 1rem;
  color: #d8d1ca;
}

/* 4.1 Main Page - index */

.hero-top-container {
  padding-top: 2rem;
  text-align: center;
  /* max-width: 700px; */
}

.hero-top-container h1 {
  font-size: 4.4em;
  line-height: 2rem;
  font-weight: 700;
  text-shadow: #666 3px 3px 5px;
}

.hero-bottom-container {
  padding-top: 2rem;
  text-align: center;
}

#hello-text {
  text-align: left;
  padding-left: 20px;
}

#hello-name-text {
  text-align: right;
  padding-right: 20px;
}
#work-title {
  font-size: 2em;
  text-shadow: #666 2px 2px 4px;
}

@media (min-width: 900px) {
  .hero-top-container h1 {
    font-size: 5em;
    line-height: 3rem;
  }

  .hero-bottom-container {
    padding-top: 4rem;
  }

  #work-title {
    font-size: 2.3em;
  }
}

/* 4.2 Main Page - list boxes */

.info-list-box {
  border: #eee6de 3px solid;
  background-color: rgba(255, 255, 255, 0.8);
  padding-left: 1rem;
  padding-right: 2rem;
  font-weight: 400;
  max-height: 180px;
  max-width: 458px;
  display: grid;
  align-content: center;
}
