/* TABLE OF CONTENTS: 

1. General Setup
2. Navbar Settings
    2.1. Nav Avatar & Name
    2.2. Nav Text/
3. Footer
4.1 Main Page - index
4.2 Main Page - list boxes 
5. contact form
5.1 contact text box
6. Portfolio section
7. About section 

*/

/*  1. General Setup  */

:root {
  --main-color: #ff7a00;
  --light-border-color: #eee6de;
  --main-color-active: #ff9633;
  --lighter-main-color: #ffca99;
  --darker-main-color: #994a00;
  --btn-languages-color: #0071db;
  --john-doe-color: #1b8aa6;
  --yelpcamp-color: #4caf50;
}

body {
  font-family: "Heebo", sans-serif;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("../images/bg-image.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 1.2em;
}

h1,
h2,
h3,
h4,
.menu a,
a,
.program-lang-btn {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: black;
}

.bold {
  font-weight: 700;
}

.main-color-text {
  color: var(--main-color);
}

.johndoe-color-text {
  color: var(--john-doe-color);
}

.yelpcamp-color-text {
  color: var(--yelpcamp-color);
}

.light-color {
  color: var(--light-border-color);
}

.align-l {
  text-align: left;
}
.align-c {
  text-align: center;
}

.inline {
  display: inline-block;
}

.anchor-link {
  scroll-margin-top: 390px;
}

@media (min-width: 900px) {
  .anchor-link {
    scroll-margin-top: 100px;
  }
}

/* 2. Navbar Settings */

.navbar {
  background-color: #fafbfb;
  vertical-align: middle;
  line-height: 0;
  z-index: 100;
}
.navbar-bg-extension {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
  position: sticky;
  top: 0;
}

.hidden {
  display: none;
}

/* 2.1. Nav Avatar & Name */

.left-nav {
  height: 80px;
  padding-top: 10px;
}

.nav-avatar {
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 50%;
  display: inline-block;
  border: 2px solid var(--light-border-color);
}

.nav-name {
  display: inline-block;
  color: var(--main-color);
  font-size: 2.2rem;
  font-weight: 700;
}

.last-name {
  display: none;
  text-decoration: inherit;
  text-underline-offset: inherit;
}

.hamburger-menu,
.hamburger-x {
  margin-left: auto;
  padding-right: 1px;
}

.mobile-menu-hidden {
  display: none;
}

@media (min-width: 900px) {
  .last-name {
    display: inline-block;
  }
}

/* 2.2. Nav Text */

.menu {
  text-align: left;
  font-size: 1.8rem;
}

.menu a:hover,
.nav-name a p:hover {
  text-decoration: underline var(--main-color) 2.5px;
  text-underline-offset: 0.75rem;
}

/* active link */
.active {
  color: var(--main-color);
}

@media (min-width: 900px) {
  .menu a {
    font-size: 1.8rem;
  }

  .hamburger-menu {
    display: none;
  }

  .menu {
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: right;
  }

  .menu a:hover {
    text-decoration: underline var(--main-color) 2.5px;
    text-underline-offset: 0.75rem;
  }
}

/* 3. Footer */

.footer {
  background-color: rgb(250, 251, 251);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  text-align: center;
}

.footer-text {
  padding-top: 1rem;
  color: #d8d1ca;
}

/* 4.1 Main Page - index */

.section-l-container {
  padding-top: 2rem;
}

.section-container h1,
.hello-container h1 {
  font-size: 3.4em;
  line-height: 1.6rem;
  font-weight: 700;
  text-shadow: var(--light-border-color) 0 0 8px;
}

#hello-intro-h1 {
  text-align: left;
}

.section-r-container {
  padding-top: 2rem;
}

.hello-container {
  width: 100%;
}

.section-h1 {
  text-align: center;
}

#hello-name-text {
  text-align: right;
  padding-right: 20px;
}
.work-title {
  font-size: 1.5em;
  text-shadow: var(--light-border-color) 0 0 8px;
}

.hello-aligment {
  margin-top: 1rem;
}

.checkout-alignment {
  margin-top: -5rem;
  text-align: center;
}

@media (min-width: 550px) {
  .section-container h1,
  .hello-container h1 {
    font-size: 4.4em;
    line-height: 2rem;
  }

  .work-title {
    font-size: 2em;
    margin-top: 0rem;
  }

  .hello-aligment {
    margin-top: 10rem;
  }
}

@media (min-width: 900px) {
  .section-h1 {
    padding-left: 20px;
  }

  .section-l-container h1 {
    font-size: 5em;
    line-height: 3rem;
  }

  .section-r-container {
    padding-top: 4rem;
  }

  #work-title {
    font-size: 2.3em;
  }

  .checkout-alignment {
    margin-top: -15rem;
    text-align: center;
  }

  .checkout-alignment {
    margin-top: -15rem;
    text-align: center;
  }
}

#down-arrow-link img:nth-child(3) {
  display: none;
}
#down-arrow-link:hover img:nth-child(3) {
  display: inline-block;
}
#down-arrow-link:hover img:nth-child(2) {
  display: none;
}

/* 4.2 Main Page - list boxes */

.textbox {
  border: var(--light-border-color) 1px solid;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 2rem;
  font-weight: 400;
  display: grid;
  text-align: left;
}

.box-r,
.box-l {
  border-radius: 4.5rem;
  margin-bottom: 3rem;
}

@media (min-width: 550px) {
  .textbox {
    padding: 3rem;
  }
}

@media (min-width: 900px) {
  .box-r {
    border-radius: 0 9rem 9rem 9rem;
  }
  .box-l {
    border-radius: 9rem 0 9rem 9rem;
  }
  .textbox {
    padding: 4rem;
  }
}

/* 5. contact form */

input,
textarea {
  display: block;
}

textarea {
  height: 100px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 90%;
  resize: none;
  padding: 0.7rem;
  border-radius: 1rem;
  background-color: #fafbfb;
  border: none;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  margin: 0.5rem 0rem 1rem 0;
  outline: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-bottom: 2px solid var(--main-color);
  border-left: 2px solid var(--main-color);
  outline: none;
}

.submit-btn button {
  background-color: var(--main-color);
  color: white;
  border: none;
  padding: 0.8rem 1.2rem;
  border-radius: 15px;
  margin: 0 auto;
  display: block;
}

.submit-btn button:hover,
.submit-btn button:focus,
.view-btn:focus {
  background-color: var(--main-color-active);
}

.submit-btn button img {
  padding-left: 10px;
  margin-bottom: -2px;
}

.contact-form {
  text-align: left;
  width: 100%;
}

.contact-form label {
  font-weight: 700;
  padding-left: 0.8rem;
}

.display-none,
.sent-successfully {
  display: none;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control small {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}

.form-control.error small {
  color: #e74c3c;
  visibility: visible;
}

.form-control.success input,
.form-control.success textarea {
  border-bottom: 2px solid #2ecc71;
  border-left: 2px solid #2ecc71;
}

.form-control.error input,
.form-control.error textarea {
  border-bottom: 2px solid #e74c3c;
  border-left: 2px solid #e74c3c;
}

/* 5.1 contact text box */

.contact-links {
  font-size: 1.2em;
}

.contact-link-img-container:nth-of-type(1) img {
  margin-bottom: -2px;
}
.contact-link-img-container:nth-of-type(2) img {
  margin-bottom: -4px;
}
.contact-link-img-container:nth-of-type(3) img {
  margin-bottom: -1px;
}

.contact-link-img-container {
  width: 35px;
  display: inline-block;
}

.contact-links a:hover {
  text-decoration: underline var(--main-color) 2px;
  text-underline-offset: 0.3rem;
}

/* 6. Portfolio section */

.portfolio-img {
  max-width: 100%;
}

.portfolio-img-container {
  padding: 20px;
  background-color: black;
  margin-top: -2.5rem;
}

.portfolio-textbox {
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.75);
  color: var(--light-border-color);
  padding: 4rem;
  font-weight: 400;
  display: grid;
  align-content: center;
}

.box-l-portfolio {
  border-top-right-radius: 4.5em;
  border-top-left-radius: 4.5em;
}

.git-btn {
  background-color: #666;
  color: var(--light-border-color);
  height: 3rem;
  padding: 0 1.2rem;
  border-radius: 15px;
  margin-top: 20px;
}
.git-btn:hover {
  background-color: #888;
  color: white;
}

.view-btn {
  background-color: var(--main-color);
  color: var(--light-border-color);
  height: 3rem;
  padding: 0 1.2rem;
  border-radius: 15px;
  margin-top: 20px;
}
.view-btn:hover {
  background-color: var(--main-color-active);
  color: white;
}

.git-btn p {
  padding-left: 10px;
}

.view-btn p {
  padding-right: 10px;
}

.program-lang-btn {
  padding: 0.3rem 0.7rem 0.15rem 0.7rem;
  color: var(--light-border-color);
  background-color: var(--btn-languages-color);
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 12px;
  margin: 16px 8px 0 8px;
}

@media (min-width: 900px) {
  .box-l-portfolio {
    border-bottom-left-radius: 4.5em;
    border-top-left-radius: 4.5em;
    border-top-right-radius: 0;
  }

  .portfolio-textbox {
    padding: 2rem 5rem 2rem 2rem;
  }

  .portfolio-img-container {
    margin-left: -7rem;
    margin-top: 0;
    padding: 50px;
    background-color: black;
  }
}

@media (min-width: 1150px) {
  .box-l-portfolio {
    border-bottom-left-radius: 9em;
    border-top-left-radius: 9em;
    border-top-right-radius: 0;
  }

  .portfolio-textbox {
    padding: 4rem;
  }
}

@media (min-width: 1150px) {
}

/* 7. About section */

.about-image {
  max-width: 300px;
  border-radius: 4.5rem 4.5rem 0 0;
}

.about-h1 {
  order: -1;
}

.about-photo-container {
  text-align: center;
  margin-bottom: 0rem;
  padding-bottom: 0rem;
  height: 375px;
  order: -1;
}

.about-skills-container {
  margin-top: 0rem;
}

.box-about-me {
  border-radius: 0rem 0rem 4.5rem 4.5rem;
  margin-bottom: 3rem;
}

@media (min-width: 500px) {
  .box-about-me {
    border-radius: 3rem 3rem 4.5rem 4.5rem;
  }
}
@media (min-width: 515px) {
  .box-about-me {
    border-radius: 3.5rem 3.5rem 4.5rem 4.5rem;
  }
}
@media (min-width: 530px) {
  .box-about-me {
    border-radius: 4rem 4rem 4.5rem 4.5rem;
  }
}
@media (min-width: 550px) {
  .box-about-me {
    border-radius: 4.5rem;
  }
  .about-image {
    max-width: 350px;
  }
  .about-photo-container {
    height: 437px;
  }
}

@media (min-width: 900px) {
  .about-image {
    max-width: 350px;
    border-radius: 9rem;
    border: 1px solid var(--light-border-color);
  }

  .box-about-me {
    border-radius: 9rem 9rem 9rem 0;
    margin-bottom: 3rem;
  }

  .about-intro-container {
    margin-top: 7rem;
  }

  .about-photo-container {
    margin-top: -26rem;
    margin-bottom: 0rem;
    text-align: center;
    order: 0;
  }

  .about-skills-container {
    margin-top: -2rem;
  }

  .about-courses-container {
    margin-top: -20rem;
  }
}
